#staffadmin .actions{
    display: block;
    overflow: hidden;
    text-decoration: none;
    border-radius: 10px;
    background: white;
}

#staffadmin .bi{
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    /* padding: 20px; */
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: translateX(40px);
}

#staffadmin .bi-arrow-left-right{
    background: rgb(218, 218, 255);
    color: rgb(92, 24, 243);
    
}

#staffadmin .bi-person-circle{
    background: rgb(199, 255, 199);
    color: rgb(18, 121, 18);
}

#staffadmin .bi-currency-exchange{
    background: rgb(255, 208, 208);
    color: rgb(186, 20, 20);
}

#staffadmin .bi-credit-card-2-back{
    background: rgb(237, 237, 237);
    color: black;
}

