*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* word-wrap: break-word; */
}

a{
    text-decoration: none;
}

#sidebar{
    width: 250px;
    height: 100vh;
    position: fixed; 
    background: #3c24aa;
    z-index: 1;
    overflow-y: hidden;
}


.nav-link{
    font-size: 1em;
    z-index: 100;
    color:  whitesmoke;
    margin-top: 10px;
    border: 0 !important;
    border-radius: 0 !important;
}
 
.nav-link .bi{
    padding-right: 10px;
}

/* .nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: #fff;
    color: black;
} */

#tab-content{
    width: 100%;
    padding: 15px;
    padding-left: 270px;
    position: absolute;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-left: 4px solid darkorchid !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    color: darkorchid;
}


@media(max-width:768px){
    #sidebar{
        width: 0px;
        height: 100vh;
        position: fixed; 
        background: #3c24aa;
        z-index: 1;
        overflow-y: hidden;
        transition: .3s ease-in-out;
    }

    .toggler{
        width: 250px !important;
    }

    #tab-content{
        width: 100%;
        padding: 15px;
        position: absolute;
    }

}