*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* word-wrap: break-word; */
}

html, body{
    font-size-adjust: none;
    font-size: 100%;
}

a{
    text-decoration: none;
}

#sidebar{
    width: 250px;
    height: 100vh;
    position: fixed; 
    background: #3c24aa;
    z-index: 100;
    overflow: hidden;
}

#wrapper{
    padding-left: 250px;
}

#wrapper .navbar{
    color: black;
    z-index: 10;
}


.nav-link{
    font-size: 1em;
    z-index: 100;
    color:  whitesmoke;
    margin-top: 10px;
    border: 0 !important;
    border-radius: 0 !important;
}
 
.nav-link .bi{
    padding-right: 10px;
}

/* .nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: #fff;
    color: black;
} */

#tab-content{
    width: 100%;
    min-height: 100vh !important;
    padding-top: 6.5rem;
    padding-bottom: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-left: 4px solid #1C3FFD !important;
    color: #1C3FFD !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    color: #020873;
}



@media(max-width:768px){
    #sidebar{
        width: 0px;
        height: 100vh;
        position: fixed; 
        background: #3c24aa;
        z-index: 100;
        overflow-y: hidden;
        transition: .3s ease-in-out;
    }

    #wrapper{
        padding-left: 0;
    }

    .toggler{
        width: 250px !important;
    }

    #tab-content{
        width: 100%;
        padding: 15px;
    }

}