{% extends 'dbank/base.html' %} {% load static %} 
{% load crispy_forms_tags %} 

{% block content %}

<section id="all_user">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6">
                <div class=" pb-4">
                    <h1>
                        All Transfers ()
                    </h1>
                    <p>
                        <small class=" text-muted">
                            Here you can add confirm, accept of reject transfer.
                        </small>
                    </p>
                </div>
            </article>
            <article class="col-4 col-md-6 text-end">
                <a href="{% url 'register' %}" class=" btn btn-danger btn-lg" style=" color: white; display: inline-block;">
                    Add New Clients
                </a>
            </article>
            <article class="col-12 col-md-11 mx-auto">
                {% if transfers %}
                <table class="table table-responsive table-light shadow-sm">
                    <thead>
                        <tr>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Beneficiary</th>
                            <th scope="col">Beneficial Account</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for transfer in transfers %}
                    <tr>
                        <td>
                            <a href="">
                                {{transfer.user.get_full_name}}
                            </a>
                        </td>
                        <td>
                            {{transfer.user.email}}
                        </td>
                        <td>{{ transfer.receivers_name}}</td>
                        <td>{{ transfer.beneficiary_account_number }}</td>
                        <td class="fw-bold">&#36;{{transfer.amount}}</td>
                        <td class="fw-bold">{{transfer.status}}</td>
                        <td class="text-end">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{form | crispy}}
                                <input type="hidden" value="{{transfer.id}}" name="id">
                                <!-- <div> -->
                                    <button type="submit" class=" btn btn-sm btn-outline-success">update</button>
                                <!-- </div> -->
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                {% else %}
                    <h3 class="text-danger">No Available Transfers</h3 class="text-danger">
                {% endif %}
            </article>
        </section>
    </div>
</section>

{% endblock %}