{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}

<section id="staffadmin">
    <div class="container py-5">
        <section class="row py-4">
            <article class="col-12 col-md-6">
                <div class="d-flex">
                    <img class="img-fluid rounded-circle shadow" style="height: 100px; width: 100px; object-fit: cover;" src="{{ user.photo_url }}">
                    <span class="ps-4 align-self-center">
                        <h5>{{user.get_full_name}}</h5>
                        <b class="text-danger">admin</b>
                    </span>
                </div>
            </article>
            <article class="col-12 col-md-6 text-end">
                <a href="{% url 'register' %}" class=" btn btn-primary">
                    ADD NEW CLIENT
                </a>
            </article>
        </section>
        <section class="row g-5 pt-5">
            <article class="col-12 col-sm-6 col-md-4 mb-3">
                <a href="{% url 'all_users' %}" class="shadow-sm py-4 px-3 border-start border-success border-5  hvr-float-shadow actions">
                    <div class=" d-flex  justify-content-between">
                        <div class="ps-3">
                            <h4>Manage Accounts</h4>
                            <p class="text-muted">
                                delete, change pin...
                            </p>
                            <span><b>{{total_clients}}</b> Active
                                Accounts</span>
                        </div>
                        <i class="bi bi-person-circle "></i>
                    </div>
                </a>
            </article>
            <article class="col-12 col-sm-6 col-md-4 mb-3">
                <a href="{% url 'all_transfers' %}" class="shadow-sm py-4 px-3 border-start border-primary border-5  hvr-float-shadow actions">
                    <div class=" d-flex  justify-content-between">
                        <div class="ps-3">
                            <h4>Transfer Request</h4>
                            <p class="text-muted">
                                Accept or Reject...
                            </p>
                            <span><b>{{pending_transfers}}</b> Pending</span>
                        </div>
                        <i class="bi bi-arrow-left-right"></i>
                    </div>
                </a>
            </article>
            <article class="col-12 col-sm-6 col-md-4 mb-3">
                <a href="{% url 'all_users' %}" class="shadow-sm py-4 px-3 border-start border-danger border-5  bg-white hvr-float-shadow actions">
                    <div class=" d-flex  justify-content-between">
                        <div class="ps-3">
                            <h4>Load Balance</h4>
                            <p class="text-muted">
                                load, update balance...
                            </p>
                            <span>All Accounts</span>
                        </div>
                        <i class="bi bi-currency-exchange "></i>
                    </div>
                </a>
            </article>

            <div class="col-12 col-sm-6 col-md-4">
                <div>
                    <a href="{% url 'historypage' %}" class="shadow-sm py-4 px-3 border-start border-warning border-5  bg-white hvr-float-shadow actions">
                        <div class=" d-flex  justify-content-between">
                            <div class="ps-3">
                                <h4>Add History</h4>
                                <p class="text-muted">
                                    transaction histories
                                </p>
                            </div>
                            <i class="bi bi-clock-history "></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div>
                    <a href="{% url 'credit_card' %}" class="shadow-sm py-4 px-3 border-start border-dark border-5  bg-white hvr-float-shadow actions">
                        <div class=" d-flex  justify-content-between">
                            <div class="ps-3">
                                <h4>Manage Card</h4>
                                <p class="text-muted">
                                    Card Request Details
                                </p>
                                <span>All Cards</span>
                            </div>
                            <i class="bi bi-credit-card-2-back "></i>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        
        <section class="row mt-5">
            <div class="col-12 col-md-12">
                <div class="table-responsive">
                    <h4 class="pt-4">List Of Recently Created Clients</h4>
                    {% if users %}
                    <table class="table bg-white shadow-sm">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Username</th>
                                <th>Email</th>        
                                <th>Gender</th>        
                                <th>Country</th>
                                <th>Account Number</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for user in users %}
                            <tr>
                                <td>
                                    <b>
                                        <a href=""
                                            class="text-primary">
                                            {{user.get_full_name}}
                                        </a>
                                    </b>
                                </td>
                                <td>
                                    {{user.username}}
                                </td>
                                <td>
                                    {{user.email}}
                                </td>
                                <td>
                                    {{user.gender}}
                                </td>
                                <td>{{ user.country.name}}</td>
                                <td>{{user.savings.number }}</td>
                                <td class="fw-bold text-primary">&#36;{{user.savings.balance}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h3>No registered clients.</h3>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</section>

{% endblock content %}