{% extends 'dbank/base.html' %} {% load static %} 
{% load crispy_forms_tags %}

{% block content %}
<!-- 
    ** the load balance page
    ** -- functionalities --
    ** - add more money to an account manually
-->
<section class="py-5" style="min-height: 100vh;">
    <div class="container py-4">
        <div class="row">
            <article class="col-12 col-md-6 mx-auto">
                <div class="bg-white rounded-5 shadow-sm p-5">
                    <div class="border-bottom border-primary border-2 mb-4">
                        <h4>Load Balance</h4>
                        <h5 class="text-primary">{{client.username}}</h5>
                        <p class="text-muted">Please note that balance be incremented. </p>
                    </div>
                    <!-- the form -->
                    <form action="" method="post">
                        <p class="fw-bold"><span class="text-muted">Current Balance:</span> ${{client.savings.balance}}</p>
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="py-4">
                            <button class="btn btn-primary col-12" type="submit">LOAD BALANCE</button>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </div>
</section>

{% endblock %}