{% extends 'dbank/base.html' %} {% load static %}  {% load crispy_forms_tags %}


{% block content %}

<section id="staffadmin">
    <div class="container py-5">
        <section class="row py-4">
            <div class="col-12 col-md-10 mx-auto bg-white p-4 p-sm-5 shadow-sm">
                <h3 class="text-center text-primary">CREATE CLIENT FORM</h3>
                <p class="mb-4">
                    <hr />
                </p>
                {% crispy c_form %}
            </div>
        </section>
    </div>
</section>

{% endblock content %}