{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}
    <section class="about">
        <div class="container">
            <section class="row gx-5 gy-4">
                <div class="col-12 col-md-6">
                    <div class="mission">
                        <h5>
                            We help protect you when you bank or shop online, and help keep your money safe by default.
                            from phishing, pharming, spamming. We will help you stay anonymous.
                        </h5>
                        <h2>
                            Mission
                        </h2>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="vision">
                        <h5>
                            Oue vision is a world where we won't have to sacrifice our privacy and wealth for comfort.
                            Keeping your money safe is a must.
                        </h5>
                        <h2>
                            Vision
                        </h2>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <section class="row p-5" style="background: #e0ffad; border-radius: 20px;">
                <div class="col-12 col-md-6">
                    <div class="goals">
                        <img src="{% static 'dbank/images/investment.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class=" text-end p-4 align-self-center">
                        <h2>About us</h2>
                        <p class="text-muted">
                            With over 10 million users, and about 10 billion dollars worth of investment, we are a subsidiary
                            of one the biggest banks in america. We provide secure safe and easy digital banking system, investment plans
                            for our clients, partners and investors.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <section class="about bg-light">
        <div class="container">
            <section class="row">
                <div class="col-12 col-md-3">
                    <div class="bg-white p-5 shadow">
                        <h3>60 + </h3>
                        <h5>Partners</h5>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="bg-white p-5 shadow">
                        <h3>3000000  </h3>
                        <h5>Clients</h5>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="bg-white p-5 shadow">
                        <h3>10 Billion </h3>
                        <h5>Worth Of assets</h5>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="bg-white p-5 shadow">
                        <h3> 3 00 </h3>
                        <h5>Professionals</h5>
                    </div>
                </div>
            </section>
        </div>
    </section>

{% endblock content %}