{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %} {{title}} {% else %} banking {% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dbank/css/b52css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dbank/css/core.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar navbar-expand-sm ">
        <div class="container">
          <a class="navbar-brand text-primary" href="/">Banking</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'investments' %}">Investments</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cards
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'visagold' %}">Visa Gold Credit</a></li>
                  <li><a class="dropdown-item" href="{% url 'visaInfinite' %}">Visa Infinite Credit</a></li>
                  <li><a class="dropdown-item" href="{% url 'visaplatinum' %}">Visa Platinum Credit</a></li>
                </ul>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="{% url 'baccounts' %}">Account & Deposit</a>
              </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white" aria-current="page" href="{% url 'account_login' %}">LOGIN <i class="bi bi-box-arrow-in-right text-white ps-3"></i></a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    {% block content %} {% endblock content %}

    <footer class="py-5" style="background: #1d262d;">
      <section class="container">
        <div class="row g-5">
          <article class="col-12 col-md-4">
              <h4 class="pb-3">Information</h4>
              <p>
                <a href="#">Investments</a>
              </p>
              <p>
                <a href="#">Banking</a>
              </p>
              <p>
                <a href="#">Savings</a>
              </p>
          </article>
          <article class="col-12 col-md-4">
            <h4 class="pb-3">Copy Right</h4>
            <p>
              &copy; copyright property of digital banking
            </p>
            <p>
              1998 - 2023, all rights reserved.
            </p>
          </article>
          <article class="col-12 col-md-4">
              <h4> Digital Banking</h4>
              <p>
                We provide excellent digital and online banking functionalities, providing our clients both privacy and ease of banking.
              </p>
          </article>
        </div>
      </section>

    </footer>

    <script src="{% static 'dbank/js/b52js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dbank/js/b52js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>

