{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}
<section class="p5">
    <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active c-item drk" data-bs-interval="10000">
            <img src="{% static 'dbank/images/slide1.jpg' %}" class="d-block w-100 c-img" alt="...">
            <div class="carousel-caption">
              <h1 class="">TROPICAL FINANCE CREDIT UNION</h1>
              <p class=" d-none d-md-block">
                We don't only keep your money safe and secured,
                but also your transaction activities.
                Get access to up to $250,000 credit with just few steps.
              </p>
              <p class="pt-4">
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg rounded-pill col-12 col-md-4">START BANKING</a>
              </p>
            </div>
          </div>
          <div class="carousel-item c-item drk" data-bs-interval="2000">
            <img src="{% static 'dbank/images/slide2.jpg' %}" class="d-block w-100  c-img" alt="...">
            <div class="carousel-caption">
              <h1>EARN MONEY AT COMFORT</h1>
              <p class=" d-none d-md-block">Earn money easily by investing with us, we trade for you while you earn for free.</p>
              <p class="pt-4">
                <a href="{% url 'investments' %}" class="btn btn-primary btn-lg col-12 col-md-4 rounded-pill">KNOW MORE</a>
              </p>
            </div>
          </div>
          <div class="carousel-item c-item drk">
            <img src="{% static 'dbank/images/slide3.jpg' %}" class="d-block w-100 c-img" alt="...">
            <div class="carousel-caption">
              <h1>CREDIT CARDS WITH NO RESTRICTION</h1>
              <p class=" d-none d-md-block">We provide both physical and virtual credit card at your request, 
                to shop and make payments without hassles. </p>
              <p class="pt-4">
                <a href="{% url 'visagold' %}" class="btn btn-primary btn-lg col-12 col-md-5 rounded-pill">EXPLORE</a>
              </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="bi bi-arrow-left-circle" style="font-size: 2.7rem;" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="bi bi-arrow-right-circle" style="font-size: 2.7rem;" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
<!-- slider section ends here -->

<!-- about -->
<section class="about">
    <div class="container overflow-hidden">
        <section class="row g-5">
            <div class="col-12 col-sm-12 col-md-8 mx-auto text-center">
                <div>
                    <h1>Who We are and what we do</h1>
                    <p class="py-4">
                        With over one hundred and fourty seven thousand, and about 150 million dollars worth of investment, we are a subsidiary
                        of one the biggest banks in america. We provide secure safe and easy digital banking system, investment plans
                        for our clients, partners and investors.
                    </p>
                </div>
            </div>
        </section>

        <section class="row g-5 key-services">
            <div class="col-12 col-sm-12 col-md-6 m-0">
                <img src="{% static 'dbank/images/investment1.jpg' %}" alt="Investment banking" class="img-fluid" style="height: 350px;">
                <div class="shadow bg-white rounded-7 mx-3 mx-sm-5 p-5 rounded-5" style="transform: translateY(-100px); ">
                    <h3>Investment Banking</h3>
                    <p class="py-4 text-muted">
                        Investment is the best way to put your money to work and build wealth.
                        With superb AI tools and highly intelligent financial specialist we help you invest your
                        money...
                    </p>
                    <p>
                        <a href="{% url 'investments' %}" class="btn btn-primary">KNOW MORE</a>
                    </p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 m-0">
                <img src="{% static 'dbank/images/wealth.jpg' %}" alt="Investment banking" class="img-fluid w-100" style="height: 350px;">
                <div class="shadow bg-white rounded-7 mx-3 mx-sm-5 p-5 rounded-5" style="transform: translateY(-100px); box-sizing: border-box;">
                    <h3 style="word-wrap: break-word;">Wealth Accumulation</h3>
                    <p>
                        Aside providing digital banking services to our clients, we also help our clients build a secured tomorrow
                        through mentorship, lectures and assistance...
                    </p>
                    <p>
                        <a href="{% url 'investments' %}" class="btn btn-primary">KNOW MORE</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- end of about -->

<!--investment section -->
<section class="investment">
    <div class="container">
        <section class="row g-5">
            <div class="col-12 col-md-5 align-self-center">
                    <h3>Why You Start Investing</h3>
                    <p class="py-4">
                        Investments is a very effective way of <b class="text-primary">wealth building</b> by putting your money to work.
                        By investing with us, we put your money to work while you have time to focus on other things while earning <b>Big.</b>

                    </p>
                    <p>
                        <a href="#" class="btn btn-lg btn-outline-primary col-12 col-md-8">START INVESTING.</a>
                    </p>
            </div>
            <div class="col-12 col-md-7">
                <div>
                    <img src="{% static 'dbank/images/slide3.jpg' %}" alt="" class="img-fluid rounded-5">
                </div>
            </div>
        </section>
        <section class="row pt-4 g-5">
            <div class="col-6 col-md-3">
                <div class=" why-us p-4">
                    <i class="bi bi-briefcase-fill"></i>
                    <h4>Easy Transaction</h4>
                    <p>
                        Perform transactions with ease.
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class=" why-us p-4">
                    <i class="bi bi-fingerprint"></i>
                    <h4>Safe and Secure</h4>
                    <p>
                        We keep your money and transactions secured.
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class=" why-us p-4">
                    <i class="bi bi-safe2"></i>
                    <h4>Fast Transfer</h4>
                    <p>
                        Perform transfers with a click of a button.
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class=" why-us p-4">
                    <i class="bi bi-shield-lock"></i>
                    <h4>Client Privacy</h4>
                    <p>
                       Stay anonymous through our advance hash algorithm.
                    </p>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="others">
    <div class="container">
        <section class="row g-5">
            <div class="col-12 col-md-8 mx-auto text-center">
                <h1>How Much We Value Our Clients</h1>
                <p>
                    We provide cool and conscise functionalites to help our clients amd partners scale thier profit.
                </p>
            </div>
        </section>

        <section class="row g-5 py-5">
            <div class="col-12 col-md-4">
                <a href="{% url 'visaplatinum' %}" class="creditcard shadow">
                    <h4>Request For your credit card today</h4>
                </a>
            </div>

            <div class="col-12 col-md-4">
                <a href="{% url 'baccounts' %}" class="savings">
                    <h4>Explore more for your accounts</h4>
                </a>
            </div>

            <div class="col-12 col-md-4">
                <a href="{% url 'investments' %}" class="investment-bank">
                    <h4>Investments are future securities</h4>
                </a>
            </div>
        </section>
    </div>
</section>

<!-- partners section -->
<section id="partners" class="py-5 bg-light">
    <div class="container">
        <section class="row pb-5">
            <div class=" col-12 col-md-8 mx-auto text-center">
                <h4 class="text-primary">Everyone got to smile</h4>
                <h1>Some of our partners and clients</h1>
            </div>
        </section>
        <section class="row text-center justify-content-center gx-4">
            <div class="col-6 col-md-2 py-4">
                <div class="p-4 shadow-sm bg-white">
                    <img src="{% static 'dbank/images/logos/Binance-Smart-Chain.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-2 py-3" >
                <div class="p-4 shadow-sm bg-white">
                    <img src="{% static 'dbank/images/logos/JF-JForex4.png' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-2 py-4">
                <div class="p-4 shadow-sm bg-white">
                    <img src="{% static 'dbank/images/logos/Microsoft-HoloLens.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </section>

        <section class="row text-center justify-content-center gx-4">
            <div class="col-6 col-md-2 py-4">
                <div class="p-4 shadow-sm bg-white">
                    <img src="{% static 'dbank/images/logos/Wells-Fargo.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-2 py-3" >
                <div class="p-4 shadow-sm bg-white">
                    <img src="{% static 'dbank/images/logos/Zelle.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-2 py-3">
                <div class="p-4 shadow-sm bg-white">
                    <img src="{% static 'dbank/images/logos/TD-Ameritrade-01.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-2 py-3">
                <div class="p-4 shadow-sm bg-white">
                    <img src="{% static 'dbank/images/logos/RoboForex.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </section>

        <section class="row text-center justify-content-center gx-4">
            <div class="col-6 col-md-2 py-3">
                <div class="p-4 shadow-sm bg-white">
                    <img src="{% static 'dbank/images/logos/cnn.png' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-2 py-3" >
                <div class="p-4 shadow-sm bg-white">
                    <img src="{% static 'dbank/images/logos/bitcoin.png' %}" alt="" class="img-fluid ">
                </div>
            </div>
            <div class="col-6 col-md-2 py-3">
                <div class="p-4 shadow-sm bg-white">
                    <img src="{% static 'dbank/images/logos/hsbc.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </section>
    </div>
</section>

<section>

</section>

{% endblock content %}