{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}
<section  class="investment">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-8 mx-auto text-center">
                <h1 class="text-white">
                    Start earning 15% of your investment Every Week.
                </h1>
                <h4 class="text-primary"> Why is our investment the best?. </h4>
                <p>
                    With as low as <b class="text-white">$100</b> you can start earning big as much as <b class="text-white">$25000</b>.
                    Our future is important, what we invest and save today will save us tomorrow.
                </p>
            </article>
        </section>

        <section class="row">
            <article class="col-12 col-md-8 mx-auto text-center">
                <h2>Benefits of our investment.</h2>
            </article>
        </section>

        <section class="row g-5">
            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-currency-bitcoin"></i>
                        <h4 class="ps-3">Wealth Building</h4>
                    </div>
                    <p>
                        We will help you generate wealth for a long period of time, Start building your wealth for a better tomorrow. 
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-graph-up-arrow"></i>
                        <h4 class="ps-3">Outperform Inflation</h4>
                    </div>
                    <p>
                        Proper investment can help you beat inflation, investments appreciates with time and not otherwise.
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-credit-card-2-back"></i>
                        <h4 class="ps-3">Free Card Access</h4>
                    </div>
                    <p>
                        We give you free access to all our cards without any fee, you can make payments across 28 countries.
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-coin"></i>
                        <h4 class="ps-3">Earn Big</h4>
                    </div>
                    <p>
                        Start earning with just as low as $100 you can earn up to $25000 with mouth watering interest.
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-currency-exchange"></i>
                        <h4 class="ps-3">Easy Transaction</h4>
                    </div>
                    <p>
                        Make transfers, withdrawals, check balance and othe high level activities with ease.
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-lightning-charge-fill"></i>
                        <h4 class="ps-3">No hidden charges</h4>
                    </div>
                    <p>
                        No hidden charges, extra fees or hidden risk, our professionals help let your money do the work for you.
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <section class="row">
            <article class="col-12 col-sm-12 col-md-6">
                <img src="{% static 'dbank/images/investment.jpg' %}" alt="" class="img-fluid shadow">
            </article>
            <article class="col-12 col-sm-12 col-md-6 p-4">
                    <h3>How To Start Investing</h3>
                    <ul class=" list-group pb-4">
                        <li class="list-group-item"><h5><i class="bi bi-1-circle pe-3 text-primary"></i> Contact Customer help center </h5></li>
                        <li class="list-group-item"><h5><i class="bi bi-2-circle pe-3 text-primary"></i> Request for an account.</h5></li>
                        <li class="list-group-item"><h5><i class="bi bi-3-circle pe-3 text-primary"></i> Afterwards make your first investment</h5></li>
                        <li class="list-group-item"><h5><i class="bi bi-4-circle pe-3 text-primary"></i>Start earning.</h5></li>
                    </ul>
            </article>
        </section>
    </div>
</section>

{% endblock %}