{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}
<section  class="investment">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-8 mx-auto text-center">
                <h1 class="text-white">
                    Start earning 15% of your investment Every Week.
                </h1>
                <h4 class="text-primary"> Why is our investment the best?. </h4>
                <p>
                    With as low as <b class="text-white">$100</b> you can start earning big as much as <b class="text-white">$25000</b>.
                    Our future is important, what we invest and save today will save us tomorrow.
                </p>
            </article>
        </section>

        <section class="row">
            <article class="col-12 col-md-8 mx-auto text-center">
                <h2>Benefits of our investment.</h2>
            </article>
        </section>

        <section class="row g-5">
            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-currency-bitcoin"></i>
                        <h4 class="ps-3">Wealth Building</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. maxime quod in animi fugit consequuntur sed sequi.
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-graph-up-arrow"></i>
                        <h4 class="ps-3">Outperform Inflation</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. maxime quod in animi fugit consequuntur sed sequi.
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-credit-card-2-back"></i>
                        <h4 class="ps-3">Free Card Access</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. maxime quod in animi fugit consequuntur sed sequi.
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-coin"></i>
                        <h4 class="ps-3">Earn Big</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. maxime quod in animi fugit consequuntur sed sequi.
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-currency-exchange"></i>
                        <h4 class="ps-3">Easy Transaction</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. maxime quod in animi fugit consequuntur sed sequi.
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class="why-us p-4">
                    <div class=" d-flex">
                        <i class="bi bi-lightning-charge-fill"></i>
                        <h4 class="ps-3">No hidden charges</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. maxime quod in animi fugit consequuntur sed sequi.
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <section class="row">
            <article class="col-12 col-sm-12 col-md-6">
                <img src="{% static 'dbank/images/investment.jpg' %}" alt="" class="img-fluid shadow">
            </article>
            <article class="col-12 col-sm-12 col-md-6 align-self-center p-4">
                    <h3>How To Start Investing</h3>
                    <ul class=" list-group">
                        <li class="list-group-item"><i class="bi bi-1-circle pe-3 text-primary"></i> Contact Customer help center</li>
                        <li class="list-group-item"><i class="bi bi-2-circle pe-3 text-primary"></i> Request for an account.</li>
                        <li class="list-group-item"><i class="bi bi-3-circle pe-3 text-primary"></i> Afterwards make your first investment</li>
                        <li class="list-group-item"><i class="bi bi-4-circle pe-3 text-primary"></i>Start earning</li>
                    </ul>
            </article>
        </section>
    </div>
</section>

{% endblock %}