{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}
<section class="vcards" id="visagold">
    <div class="container">
        <section class="row g-5">
            <article class="col-12 col-md-6">
                <div class="write-up">
                    <h3>Visa Infinite Dedit Card</h3>
                    <p>
                        Enjoy specially curated privileges designed to enhance an exclusive lifestyle with no boundaries.
                    </p>
                    <p>
                        <a href="mailto:contact@tropicalfinancecu.com" class=" btn btn-lg btn-primary">APPLY NOW !</a>
                    </p>
                </div3
            </article>
        </section>
    </div>
</section>

<section class="py-5 px-2 vcards">
    <div class="container">
        <section class="row mb-5">
            <div class="col-12 col-md-8 mx-auto text-center">
                <h3>Key Features and Benefits.</h3>
            </div>
        </section>
        <section class="row g-5">
            <article class="col-12 col-md-7 align-self-center">
                    <img src="{% static 'dbank/images/infinitecard.jpg' %}" alt=""  class="img-fluid rounded-5" style="height: 500px; width: 100%; object-fit: cover;">
            </article>
            <article class="col-12 col-md-5 ">
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-credit-card-2-back col-4"></i>
                    <div class="ps-4 col-8">
                        <h4>15% Discount.</h4>
                        <p>Discounts from our free merchants.</p>
                    </div>
                </div>
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-aspect-ratio col-4"></i>
                    <div class="ps-4 col-8">
                        <h4>Currency Independent.</h4>
                        <p>Available in both local and foreign currencies.</p>
                    </div>
                </div>
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class="col-4 bi bi-credit-card-2-front"></i>
                    <div class="col-8 ps-4">
                        <h4>Linked To Your Account.</h4>
                        <p>Visa infinite debit card is directly linked to your account.</p>
                    </div>
                </div>
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class="col-4 bi bi-check2-all"></i>
                    <div class="col-8 ps-4">
                        <h4>Your Limit.</h4>
                        <p>15000 $ limit per day, shop anywhere and anytime.</p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</section>



{% endblock content %}