{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}
<section class="vcards" id="visagold">
    <div class="container">
        <section class="row g-5">
            <article class="col-12 col-md-6">
                <div class="write-up">
                    <h2>Visa Infinite Credit Card</h2>
                    <p>
                        Welcome to a whole new world of elite priviledges and payment.
                    </p>
                    <p>
                        <a href="" class=" btn btn-lg btn-primary">APPLY NOW !</a>
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>

<section class="bg-light py-5 px-2 vcards">
    <div class="container">
        <section class="row mb-5">
            <div class="col-12 col-md-8 mx-auto text-center">
                <h3>Key Features and Benefits.</h3>
            </div>
        </section>
        <section class="row g-4">
            <div class="col-6 col-md-3">
                <div class="bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-credit-card-2-back "></i>
                    <h4 class="pt-4 pb-3">15% Discount.</h4>
                    <p>Discounts from our free merchants.</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-aspect-ratio"></i>
                    <h4 class="pt-4 pb-3">Currency Independent.</h4>
                    <p>Available in both local and foreign currencies.</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-credit-card-2-front"></i>
                    <h4 class="pt-4 pb-3">Linked To Your Account.</h4>
                    <p>Visa infinite debit card is directly linked to your account.</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-check2-all"></i>
                    <h4 class="pt-4 pb-3">Your Limit.</h4>
                    <p>15000 $ limit per day, shop anywhere and anytime.</p>
                </div>
            </div>
        </section>
    </div>
</section>

{% endblock content %}