{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}
<section class="vcards" id="visagold">
    <div class="container">
        <section class="row g-5">
            <article class="col-12 col-md-6">
                <div class="write-up">
                    <h2>Visa Gold Credit Card</h2>
                    <p>
                        Enjoy an exclusive range of benefits and privileges designed to let you get the most out of life
                    </p>
                    <p>
                        <a href="" class=" btn btn-lg btn-primary">APPLY NOW !</a>
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>

<section class="bg-light py-5 px-2 vcards">
    <div class="container">
        <section class="row mb-5">
            <div class="col-12 col-md-8 mx-auto text-center">
                <h3>Key Features and Benefits.</h3>
            </div>
        </section>
        <section class="row g-4">
            <div class="col-6 col-md-3">
                <div class="bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-credit-card-2-back "></i>
                    <h4 class="pt-4 pb-3">Interest Free credit.</h4>
                    <p>You don't need to pay any interest.</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-aspect-ratio"></i>
                    <h4 class="pt-4 pb-3">Making Repayments.</h4>
                    <p>Settle your internet bill through our online banking.</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-credit-card-2-front"></i>
                    <h4 class="pt-4 pb-3">Interest Free credit.</h4>
                    <p>You don't need to pay any interest.</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-check2-all"></i>
                    <h4 class="pt-4 pb-3">Accepted Everywhere.</h4>
                    <p>Over 23M merchant points and online payments.</p>
                </div>
            </div>
        </section>
    </div>
</section>

{% endblock content %}