{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}
<section class="vcards" id="visagold">
    <div class="container">
        <section class="row g-4">
            <!--
                - Modal pop up for card request visa gold 
            -->
            <div class="modal fade" id="exampleModal{{user.username}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="" method="POST">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Visa Gold Credit Card Request.
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <p>For your security we ask you to mail us directly</p>
                                    <a href="mailto:contact@tropicalfinancecu.com" style="color: inherit; text-decoration: none;">
                                        <h3>Send us a request Mail</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button> -->
                                <button type="submit" class="btn btn-primary">
                                    <a href="mailto:contact@tropicalfinancecu.com" style="color: inherit; text-decoration: none;">
                                        Send Mail
                                    </a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <article class="col-12 col-md-6">
                <div class="write-up">
                    <h3>Visa Gold Credit Card</h3>
                    <p class="py-3">
                        Enjoy an exclusive range of benefits and privileges designed to let you get the most out of life.
                    </p>
                    <p>
                        <!-- <a href="{% url 'card_request' %}" class=" btn btn-lg btn-primary">APPLY NOW !</a> -->
                        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{user.username}}" data-toggle="tooltip" data-placement="bottom" title="Send Mail">APPLY NOW</a>
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>

<!-- 
    - Key features benefits
    - For visagold
-->
<section class="py-5 px-2 vcards">
    <div class="container">
        <section class="row mb-5">
            <div class="col-12 col-md-8 mx-auto text-center">
                <h3>Key Features and Benefits.</h3>
            </div>
        </section>
        <section class="row g-5">
            <article class="col-12 col-md-7 align-self-center">
                    <img src="{% static 'dbank/images/goldcard0.jpg' %}" alt=""  class="img-fluid rounded-5" style="height: 500px; width: 100%; object-fit: cover;">
            </article>
            <article class="col-12 col-md-5 ">
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-credit-card-2-back col-4"></i>
                    <div class="ps-4 col-8">
                        <h4>Interest Free credit.</h4>
                        <p>No hidden charges or fees after initial payment.</p>
                    </div>
                </div>
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-aspect-ratio col-4"></i>
                    <div class="ps-4 col-8">
                        <h4>Making Repayments.</h4>
                        <p>Settle your internet bill through our online banking.</p>
                    </div>
                </div>
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class="col-4 bi bi-credit-card-2-front"></i>
                    <div class="col-8 ps-4">
                        <h4>Access To Credit.</h4>
                        <p>Access to up to $25,000 credit with no interest.</p>
                    </div>
                </div>
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class="col-4 bi bi-check2-all"></i>
                    <div class="col-8 ps-4">
                        <h4>Accepted Everywhere.</h4>
                        <p>Over 23M merchant points and online payments.</p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</section>

{% endblock content %}