{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}
<section class="vcards" id="visagold">
    <div class="container">
        <section class="row g-4">
            <article class="col-12 col-md-6">
                <div class="write-up">
                    <h3>Visa Gold Credit Card</h3>
                    <p class="py-3">
                        Enjoy an exclusive range of benefits and privileges designed to let you get the most out of life.
                    </p>
                    <p>
                        <a href="{% url 'card_request' %}" class=" btn btn-lg btn-primary">APPLY NOW !</a>
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>

<section class="py-5 px-2 vcards">
    <div class="container">
        <section class="row mb-5">
            <div class="col-12 col-md-8 mx-auto text-center">
                <h3>Key Features and Benefits.</h3>
            </div>
        </section>
        <section class="row g-5">
            <article class="col-12 col-md-7 align-self-center">
                    <img src="{% static 'dbank/images/goldcard0.jpg' %}" alt=""  class="img-fluid rounded-5" style="height: 500px; width: 100%; object-fit: cover;">
            </article>
            <article class="col-12 col-md-5 ">
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-credit-card-2-back col-4"></i>
                    <div class="ps-4 col-8">
                        <h4>Interest Free credit.</h4>
                        <p>No hidden charges or fees after initial payment.</p>
                    </div>
                </div>
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class=" bi bi-aspect-ratio col-4"></i>
                    <div class="ps-4 col-8">
                        <h4>Making Repayments.</h4>
                        <p>Settle your internet bill through our online banking.</p>
                    </div>
                </div>
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class="col-4 bi bi-credit-card-2-front"></i>
                    <div class="col-8 ps-4">
                        <h4>Access To Credit.</h4>
                        <p>Access to up to $25,000 credit with no interest.</p>
                    </div>
                </div>
                <div class="row mb-4 bg-white shadow-sm p-4 rounded-5">
                    <i class="col-4 bi bi-check2-all"></i>
                    <div class="col-8 ps-4">
                        <h4>Accepted Everywhere.</h4>
                        <p>Over 23M merchant points and online payments.</p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</section>

{% endblock content %}