{% extends 'dbank/base.html' %} {% load static %} 


{% block content %}
    <section class="about">
        <div class="container">
            <section class="row gx-5 gy-4">
                <div class="col-12 col-md-8 mx-auto">
                    <div>
                        <div class="text-center">
                            <h2 class="display-4 pb-4">Card Request Form</h2>
                        
                            <h5><span class="text-muted">Fullname:</span><br> <span>{{request.user.get_full_name}}</span></h5>
                            <h5><span class="text-muted">Email:</span><br> <span>{{request.user.email}}</span></h5>
                            <h5><span class="text-muted">Address:</span><br> <span>{{request.user.address}}</span></h5>
                        </div>
                    </div>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        
                        <div class="col-12 col-md-6 mx-auto my-5">
                            <h5 class="my-3 ms-2">Choose CardType:</h5>
                            {% for choice in form.cardtype %}
                                
                                <div class="cardtype my-3">
                                    <!-- {{choice}} -->
                                    {{choice.tag}}
                                    <label for="{{choice.id_for_label}}">{{choice.choice_label}}</label>
                                </div>
                            {% endfor %}
                            <div class="pt-4">
                                <button type="submit" class="btn btn-outline-primary">REQUEST CARD</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>

{% endblock content %}