{% extends 'users/base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block sidebar %}
<nav class="navbar navbar-expand p-0 m-0 d-flex flex-column align-items-start" id="sidebar">
     
    <a href="/" target="_blank" class="w-100 d-flex justify-content-center" style="background: #ADD5F7;">
        <img src="{% static 'dbank/images/logo5.png' %}" 
            alt="tropicalfinancecu" 
            width="90"
            style="margin: auto; padding: 1em 0"
            class="d-inline-block align-text-top img-fluid"
        ">
    </a>
    
    <ul class="nav nav-tabs d-flex flex-column mt-4 w-100" id="myTab" role="tablist">
        <!-- <li class="nav-item w-100">
            <a href="#" class=" text-light mx-auto d-flex ps-1 pb-4">
                <img class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" src="{{ user.photo_url }}">
                <div class="ms-2">
                    <p>
                        {{ user.get_full_name }}
                        <span>{{user.email}}</span>
                    </p>
                </div>
            </a>
        </li> -->
        
        <li class="nav-item w-100">
            <a href="#dashboard" class="nav-link active ps-4" data-bs-toggle="tab">
                <i class=" bi bi-house-door" style="font-size: 1em;"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="#account" class="nav-link ps-4" data-bs-toggle="tab">
                <i class=" bi bi-wallet2" style="font-size: 1em;"></i>
                Account
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="#cards" class="nav-link ps-4" data-bs-toggle="tab">
                <i class=" bi bi-credit-card-2-back" style="font-size: 1em;"></i>
                Cards
            </a>
        </li>
        <!-- <li class="nav-item w-100 disabled">
            <a href="" class="nav-link ps-4" data-bs-toggle="tab">
                <i class=" bi bi-bar-chart-line" style="font-size: 1em;"></i>
                Investment
            </a>
        </li> -->
        <li class="nav-item w-100">
            <a href="#transfer" class="nav-link ps-4" data-bs-toggle="tab">
                <i class=" bi bi-send-plus" style="font-size: 1em;"></i>
                Make Transfer
            </a>
        </li>
        <a href="{% url 'account_logout' %}" class="nav-link ps-4">
            <i class=" bi bi-door-closed" style="font-size: .7em;"></i>
            <small class="text-muted">Logout</small>
        </a>
    </ul>
</nav>
{% endblock sidebar %}
<!-- end of the navbar section-->

{% block content %}

<!--
    -- wrapper section linked to the navbar
-->
<section>
    <div class="tab-content" id="tab-content">
        <!-- 
            == The navbar section.
            == first view when a user is login.
        -->
        <div id="dashboard" class="container tab-pane active">
            <!-- row one -->
            <!-- <section class="row">
                <div class="col-12">
                    <div class="alert alert-primary text-center" role="alert">
                        <a href="/" target="_blank">
                            <img src="{% static 'dbank/images/logo5.png' %}" alt="" class="img-fluid" style="height:50px;">
                        </a>
                      </div>
                    <h5 class="py-4"><span class="text-muted">Welcome back, </span><small>{{user.username}}</small> <i class="bi bi-hand-thumbs-up-fill text-danger"></i></h5>
                </div>    
            </section> -->
            <!-- 
                -row two
            -->
            <section class="row">
                <div class="col-12 col-md-10 p-4 mx-auto">
                    <article class=" d-flex flex-column flex-sm-row justify-content-between p-5 bg-white shadow-sm text-center">
                        <div class="d-flex flex-column flex-sm-row mx-auto mx-sm-0" >
                            <img class="img-fluid" style="height: 120px; width: 120px; object-fit: cover; padding-top: -100px;" src="{{ user.photo_url }}">
                            <div class="ps-4">
                                <span>First name</span>
                                <h4>{{user.first_name}}</h4>
                                <span>Last name</span>
                                <h4>{{user.last_name}}</h4>
                            </div>
                        </div>
                        
                        <div>
                            <span>Address</span>
                            <h4 class="text-muted">{{user.address}},</h4>
                            <h4>{{user.country.name}}</h4>
                            <h5>{{user.email}}</h5>
                        </div>
                    </article>
                </div>
            </section>
            <!--
                - row three
            -->
            <section class="row pt-5">
                <div class="col-12 col-md-10 mx-auto p-5 bg-white shadow-sm rounded-4">
                    {% if s_transactions %}
                        <table class=" table table-responsive">
                            <h4 class="py-4 text-primary">Recent Transactions</h4>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    <th>Reference</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in s_transactions %}
                                    <tr>
                                        <td>{{transaction.transaction_date}}</td>
                                        <td>{{transaction.record}}</td>
                                        <td>${{transaction.amount}}</td>
                                        <td>{{transaction.description}}</td>
                                        <td>{{transaction.reference}}</td>
                                        {% if transaction.status == 'pending' %}
                                            <td><span class="fw-bolder text-warning">{{transaction.status}}</span></td>
                                        {% elif transaction.status == 'success' %}
                                            <td><span class="fw-bolder text-success">{{transaction.status}}</span></td>
                                        {% else %}
                                            <td><span class="fw-bolder text-danger">{{transaction.status}}</span></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-center pt-4">
                            <a href="#" class="btn btn-sm btn-primary">View All Transactions</a>
                        </div>
                    {% else %}
                    <h3 class="text-primary">
                        No recent transactions
                    </h3>
                    {% endif %}
                </div>
            </section>
        </div>

        <!-- 
            - account section
            - everything about the clients account.
        -->
        <div id="account" class="container tab-pane fade">
            <section class="row g-5">
                <div class="col-12">
                    <div class="alert alert-success text-center" role="alert">
                        <b class="fs-2">${{account.balance}}</b>
                    </div>
                    <table class="table table-borderless py-4">
                        <h5>Bank Account Details</h5>
                        <thead>
                            <tr>
                                <th class="text-muted">Account Number</th>
                                <th class="text-muted">Account Balance</th>
                                <th class="text-muted">Available Balance</th>
                                <th class="text-muted">Account Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-primary"><p><b>{{account.number}}</b></p></td>
                                <td><p><b>${{account.balance}}</b></p></td>
                                <td><p><b>${{account.balance}}</b></p></td>
                                <td class="text-success"><p><b>Active</b></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 py-4">
                    <table class="table table-light table-borderless shadow-sm">
                        <tbody>
                            <tr>
                                <td class="text-muted p-4">Account Type:</td>
                                <td class=" text-primary fw-bold  p-4">Elite (<span class="text-secondary">{{account.tiers}}</span>)</td>
                            </tr>
                            <tr >
                                <td class="text-muted p-4">Currency:</td>
                                <td class="text-primary fw-bold p-4">$ (USD)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="row g-5">
                <div class="col-12 col-md-6">
                    <div class="shadow-sm p-5 rounded bg-primary rounded-3">
                        <h4 class="text-white">Talk To Our Customer Care</h4>
                        <p class="py-4 text-light">
                            Get access to helpful tips, informations and how to to invest.
                        </p>
                        <a href="mailto:contact@tropicalfinancecu.com" class="text-white fw-bold" style="text-decoration: none;" >
                            Contact Care     >
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="bg-dark shadow-sm p-5 rounded-3">
                        <h4 class="text-white">Request For Card</h4>
                        <p class="py-4 text-light">
                            Have access to borrow up to $20K, With 0.0 balance.
                        </p>
                        <a href="{% url 'card_request' %}" data-bs-toggle="tab" class="text-white fw-bold" style="text-decoration: none;" >
                            Request Now     >
                        </a>

                    </div>
                </div>
            </section>
        </div>

        <!-- 
            - card section 
            - this holds logics for the card section
        -->
        <div id="cards" class="container tab-pane fade">
            <!--
                - first row
            -->
            <section class=" row g-5 mb-5">
                <div class="col-12 col-md-10 mx-auto text-center">
                    <header class="py-4">
                        <h4 class="display-5">Credit With Just a Click</h4>
                        <p>No multi steps forms, or too much requirements nor verifications</p>
                    </header>
                    <a href="{% url 'card_request' %}" target="_blank" class="btn btn-primary me-4" >
                        Request For Card
                    </a>

                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Customer Care
                    </button>
                    
                    <div class="collapse my-4" id="collapseExample">
                        <div class="card card-body">
                          <div class=" d-flex">
                            <i class=" bi bi-headset text-primary" style="font-size: 4em;"></i>
                            <div class="ps-4 align-self-center text-start">
                                <h4>Contact Us</h4>
                                <a class="fw-bolder text-primary h3" target="_blank" href="mailto:contact@tropicalfinancecu.com">
                                    contact@tropicalfinancecu.com
                                </a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--
                - row two
            -->
            <section class="row g-5">
                <div class="col-12 col-md-4">
                    <div>
                        <img src="{% static 'dbank/images/goldcard0.jpg' %}" alt=""  class="img-fluid rounded-5" >
                        <div class="p-4">
                            <header class="h3">Visa Gold Credit</header>
                            <p class="fw-bold text-primary fs-3 py-3 border-top border-bottom">$4,650</p>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Access to <b>$23,250</b> card limit.</p> 
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Pay back only 30% of what you use.</p>
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Accepted by over 23M merchat points</p>
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>No maintainance or hidden fee</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <img src="{% static 'dbank/images/infinitecard.jpg' %}" alt=""  class="img-fluid rounded-5" >
                        <div class="p-4">
                            <header class="h3">Visa Infinite Credit</header>
                            <p class="fw-bold text-primary fs-3 py-3 border-top border-bottom">$20,650</p>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Access to <b>$114,650</b> card limit.</p> 
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Pay back only 30% - 50% of what you use.</p>
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>No limit caps</p>
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Accepted in multiple points.</p>
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Emergency cash advance via moneygram or western union.</p>
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>100% transaction success late with no drawbacks.</p>
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Billing cycle of every 30days, for only the top elites 5%.</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <img src="{% static 'dbank/images/platinumcard.jpg' %}" alt=""  class="img-fluid rounded-5">
                        <div class="p-4">
                            <header class="h3">Visa Platinum Credit</header>
                            <p class="fw-bold text-primary fs-3 py-3 border-top border-bottom">$9,650</p>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Access to <b>$67,200</b> card limit.</p> 
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Pay back only 50% of what you use.</p>
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>Accepted by over 23M merchat points</p>
                            </span>
                            <span class="d-flex">
                                <i class="bi bi-check-all pe-4 text-primary"></i>
                                <p>No maintainance or hidden fee</p>
                            </span>
                        </div>
                    </div>
                </div>   
            </section>
        </div>
        <!--
            - the investment section
            - contains logics for the banking investments
        -->
        <div id="investment" class="container tab-pane fade">
            <section class="row">
                <div class="col-12">
                    <h1>This Feature coming soon.</h1>
                </div>
            </section>
        </div>
        <div id="transfer" class="container tab-pane fade">
            <section class="row">
                <div class="col-12 col-md-8  mx-auto">
                    <div class="bg-white shadow-sm rounded-5 p-4 p-md-5">
                        <h3 class="py-4">International Transfer Form.</h3>
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-12 col-md-6 mb-3">
                                    {{form.amount|as_crispy_field}}             
                                </div>
                                <div class="form-group col-12 col-md-6 mb-3">
                                    {{ form.swift_code|as_crispy_field }}
                                </div>
                                <div class="form-group col-12 col-md-8 mb-3">
                                    {{ form.receivers_name|as_crispy_field }}
                                </div>
                                <div class="form-group col-4 col-md-4 mb-3">
                                    {{ form.pin|as_crispy_field }}
                                </div>
                                <div class="form-group col-8 col-md-6 mb-4">
                                    {{ form.beneficiary_account_number|as_crispy_field }}
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    {{ form.country|as_crispy_field }}
                                </div>
                                <div class="form-group col-12 col-md-12 mb-4">
                                    {{ form.description|as_crispy_field }}
                                </div>
                                <div class="form-group col-12">
                                    {{ form.beneficiary_bank_address|as_crispy_field }}
                                </div>
        
                                <div class="pt-4">
                                    <button class="btn btn-lg btn-primary col-12 col-md-6" type="submit">
                                        SUBMIT TRANSFER
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
          </div>
      </div>
</section>



{% endblock %}