{% extends 'users/base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block sidebar %}
<nav class="navbar navbar-expand d-flex flex-column align-items-start" id="sidebar">
    <a href="#" class=" navbar-brand text-light mx-auto">
        <img class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover; padding-top: -100px;" src="{{ user.photo_url }}">
        <div>
            <p>{{ user.get_full_name }}</p>
            <p class="fw-bold text-warning">{{user.username}}</p>
        </div>
    </a> 
    <ul class="nav nav-tabs d-flex flex-column mt-3 w-100" id="myTab" role="tablist">
        <li class="nav-item w-100">
            <a href="#dashboard" class="nav-link active ps-4" data-bs-toggle="tab">
                <i class=" bi bi-house-door" style="font-size: 1em;"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="#account" class="nav-link ps-4" data-bs-toggle="tab">
                <i class=" bi bi-wallet2" style="font-size: 1em;"></i>
                Account
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="#cards" class="nav-link ps-4" data-bs-toggle="tab">
                <i class=" bi bi-credit-card-2-back" style="font-size: 1em;"></i>
                Cards
            </a>
        </li>
        <!-- <li class="nav-item w-100 disabled">
            <a href="" class="nav-link ps-4" data-bs-toggle="tab">
                <i class=" bi bi-bar-chart-line" style="font-size: 1em;"></i>
                Investment
            </a>
        </li> -->
        <li class="nav-item w-100">
            <a href="#transfer" class="nav-link ps-4" data-bs-toggle="tab">
                <i class=" bi bi-send-plus" style="font-size: 1em;"></i>
                Make Transfer
            </a>
        </li>
        <a href="{% url 'account_logout' %}" class="nav-link ps-4">
            <i class=" bi bi-door-closed" style="font-size: .7em;"></i>
            <small class="text-muted">Logout</small>
        </a>
    </ul>
</nav>

{% endblock sidebar %}

{% block content %}

<section id="wrapper">
    

    <div class="tab-content" id="tab-content">
        <div id="dashboard" class="container tab-pane active">
            <section class="row">
                <div class="col-12">
                    <div class="alert alert-primary text-center" role="alert">
                        <a href="/" target="_blank">
                            <img src="{% static 'dbank/images/logo5.png' %}" alt="" class="img-fluid" style="height:50px;">
                        </a>
                      </div>
                    <h5 class="py-4"><span class="text-muted">Welcome back, </span><small>{{user.username}}</small> <i class="bi bi-hand-thumbs-up-fill text-danger"></i></h5>
                </div>    
            </section>
            <section class="row">
                <div class="col-12 col-md-10 p-4 mx-auto">
                    <article class=" d-flex flex-column flex-sm-row justify-content-between p-5 bg-white shadow-sm text-center">
                        <div class="d-flex flex-column flex-sm-row mx-auto mx-sm-0" >
                            <img class="img-fluid" style="height: 120px; width: 120px; object-fit: cover; padding-top: -100px;" src="{{ user.photo_url }}">
                            <div class="ps-4">
                                <span>First name</span>
                                <h4>{{user.first_name}}</h4>
                                <span>Last name</span>
                                <h4>{{user.last_name}}</h4>
                            </div>
                        </div>
                        
                        <div>
                            <span>Address</span>
                            <h4 class="text-muted">{{user.address}},</h4>
                            <h4>{{user.country.name}}</h4>
                            <h5>{{user.email}}</h5>
                        </div>
                    </article>
                </div>
            </section>
            <section class="row pt-5">
                <div class="col-12 col-md-10 mx-auto p-5 bg-white shadow-sm rounded-4">
                    {% if s_transactions %}
                        <table class=" table table-responsive">
                            <h4 class="py-4 text-primary">Recent Transactions</h4>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    <th>Reference</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in s_transactions %}
                                    <tr>
                                        <td>{{transaction.transaction_date}}</td>
                                        <td>{{transaction.record}}</td>
                                        <td>${{transaction.amount}}</td>
                                        <td>{{transaction.description}}</td>
                                        <td>{{transaction.reference}}</td>
                                        {% if transaction.status == 'pending' %}
                                            <td><span class="fw-bolder text-warning">{{transaction.status}}</span></td>
                                        {% elif transaction.status == 'success' %}
                                            <td><span class="fw-bolder text-success">{{transaction.status}}</span></td>
                                        {% else %}
                                            <td><span class="fw-bolder text-danger">{{transaction.status}}</span></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-center pt-4">
                            <a href="#" class="btn btn-sm btn-primary">View All Transactions</a>
                        </div>
                    {% else %}
                    <h3 class="text-primary">
                        No recent transactions
                    </h3>
                    {% endif %}
                </div>
            </section>
        </div>

        <!-- account section-->
        <div id="account" class="container tab-pane fade">
            <section class="row g-5">
                <div class="col-12">
                    <div class="alert alert-success text-center" role="alert">
                        <b class="fs-2">${{account.balance}}</b>
                    </div>
                    <table class="table table-borderless py-4">
                        <h5>Bank Account Details</h5>
                        <thead>
                            <tr>
                                <th class="text-muted">Account Number</th>
                                <th class="text-muted">Account Balance</th>
                                <th class="text-muted">Available Balance</th>
                                <th class="text-muted">Account Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-primary"><p><b>{{account.number}}</b></p></td>
                                <td><p><b>${{account.balance}}</b></p></td>
                                <td><p><b>${{account.balance}}</b></p></td>
                                <td class="text-success"><p><b>Active</b></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 py-4">
                    <table class="table table-light table-borderless shadow-sm">
                        <tbody>
                            <tr>
                                <td class="text-muted p-4">Account Type:</td>
                                <td class=" text-primary fw-bold  p-4">Elite (<span class="text-secondary">{{account.tiers}}</span>)</td>
                            </tr>
                            <tr >
                                <td class="text-muted p-4">Currency:</td>
                                <td class="text-primary fw-bold p-4">$ (USD)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="row g-5">
                <div class="col-12 col-md-6">
                    <div class="shadow-sm p-5 rounded bg-primary rounded-3">
                        <h4 class="text-white">Talk To Our Customer Care</h4>
                        <p class="py-4 text-light">
                            Get access to helpful tips, informations and how to to invest.
                        </p>
                        <a href="#" class="text-white fw-bold" style="text-decoration: none;" >
                            Contact Care     >
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="bg-dark shadow-sm p-5 rounded-3">
                        <h4 class="text-white">Request For Card</h4>
                        <p class="py-4 text-light">
                            Have access to borrow up to $20K, With 0.0 balance.
                        </p>
                        <a href="#" class="text-white fw-bold" style="text-decoration: none;" >
                            Contact Care     >
                        </a>

                    </div>
                </div>
            </section>
        </div>
        <div id="cards" class="container tab-pane fade pt-5">
            <section class="row g-5">
                <div class="col-12 col-md-4 offset-md-2">
                    <div>
                        <img src="{% static 'dbank/images/platinumcard-removebg.png' %}" alt=""  class="img-fluid rounded-5" >
                    </div>
                </div>
                <div class="col-12 col-md-4 align-self-center">
                    <span class="d-flex">
                        <i class="bi bi-check-all pe-4 text-primary"></i>
                        <p>Spend more</p> 
                    </span>
                    <span class="d-flex">
                        <i class="bi bi-check-all pe-4 text-primary"></i>
                        <p>Access to up to $150,000.00 loan.</p>
                    </span>
                    <span class="d-flex">
                        <i class="bi bi-check-all pe-4 text-primary"></i>
                        <p>No hidden charges</p>
                    </span>
                    <span class="d-flex">
                        <i class="bi bi-check-all pe-4 text-primary"></i>
                        <p>No maintainance fee</p>
                    </span>
                </div>
                <div class="col-12 col-md-4 mx-auto">
                    <a href="#" class="btn btn-primary">
                        REQUEST TODAY.
                    </a>
                </div>
            </section>
        </div>
        <div id="investment" class="container tab-pane fade">
            <section class="row">
                <div class="col-12">
                    <h1>This Feature coming soon.</h1>
                </div>
            </section>
        </div>
        <div id="transfer" class="container tab-pane fade">
            <section class="row">
                <div class="col-12 col-md-10  mx-auto">
                    <div class="bg-white shadow-sm rounded-5 p-4 p-md-5">
                        <h3 class="py-4">International Transfer Form.</h3>
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-12 col-md-6 mb-3">
                                    {{form.amount|as_crispy_field}}             
                                </div>
                                <div class="form-group col-12 col-md-6 mb-3">
                                    {{ form.swift_code|as_crispy_field }}
                                </div>
                                <div class="form-group col-12 col-md-8 mb-3">
                                    {{ form.receivers_name|as_crispy_field }}
                                </div>
                                <div class="form-group col-4 col-md-4 mb-3">
                                    {{ form.pin|as_crispy_field }}
                                </div>
                                <div class="form-group col-8 col-md-6 mb-4">
                                    {{ form.beneficiary_account_number|as_crispy_field }}
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    {{ form.country|as_crispy_field }}
                                </div>
                                <div class="form-group col-12 col-md-12 mb-4">
                                    {{ form.description|as_crispy_field }}
                                </div>
                                <div class="form-group col-12">
                                    {{ form.beneficiary_bank_address|as_crispy_field }}
                                </div>
        
                                <div class="pt-4">
                                    <button class="btn btn-lg btn-primary col-12 col-md-6" type="submit">
                                        SUBMIT TRANSFER
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
          </div>
      </div>
</section>



{% endblock %}